.port-container {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}


.sombra {
  box-shadow: 0px 10px 52px 13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 52px 13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 52px 13px rgba(0, 0, 0, 0.75);
}